NEXTAUTH_URL=https://el-dragon-del-tarra.up.railway.app
NEXTAUTH_SECRET=tu-secreto-super-seguro-cambiar-en-produccion
DATABASE_URL=postgresql://usuario:password@localhost:5432/comandas_digitales?schema=public
DIRECT_URL=postgresql://usuario:password@localhost:5432/comandas_digitales?schema=public
NEXT_PUBLIC_SUPABASE_URL=https://hiuermzhgvtrygcuuxix.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhpdWVybXpoZ3Z0cnlnY3V1eGl4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjkyMDE2MjEsImV4cCI6MjA4NDc3NzYyMX0._RI2HveG0Z428ovFchT1xLasWj_U_-RZRxIMo2jiTnk
SUPABASE_SERVICE_ROLE_KEY=
PRINT_POLLING_SECRET=Sjs9BkHP7cQwfycSF22HToZVIKiSU3wqj+pSeseCAcc=
NEXT_PUBLIC_PRINT_SERVER_URL=http://192.168.1.50:3001
CRON_SECRET=

